<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinstudy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".day2.SecondActivity" />
        <activity android:name=".thefirstdemo.generics.Test1Activity" />

        <activity android:name=".day3.ThirdActivity" />
        <activity android:name=".kotlinAdvanced.coroutines.use2.activity.MainActivity5">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
    .use.ui.MainActivity1
    .use.ui.MainActivity2
    .use.ui.MainActivity3
    .use.ui.MainActivity4

    use2.activity.MainActivity5
    -->
    </application>

</manifest>